parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        -
            identifier: nullCoalesce.offset
        -
            identifier: isset.offset
        -
            '#contains unresolvable type#'

includes:
    - vendor/symplify/phpstan-rules/config/symfony-rules.neon
