<ul>
    {% for key, value in field.value %}
        <li>
            {{ key }} :
            {% if value is iterable %}
                {{ include('admin/order/customer_details.html.twig', {field: {value: value}}) }}
            {% else %}
                {{ value }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
