{% extends '@EasyAdmin/page/content.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content_title %}{% endblock %}

{% block content %}
    <article class="container-fluid">
        <section class="content-body">
            <div {{ vue_component('Pro/Admin/Taxonomy/Index') }}></div>
        </section>
    </article>
{% endblock %}
